<h1> New Meetup</h1>
<form action="/add" method="post">
      <label for="task_name">New Meetup:</label>
      <input type="text" id="meetup_name" name="meetup_name" />

      <label for="meetup_description">Description:</label>
      <input type="text" id="meetup_description" name="meetup_description" />

      <label for="meetup_location">Location:</label>
      <input type="text" id="meetup_location" name="meetup_location" />

      <input type="submit" />
</form>
